asgiref==3.8.1
contourpy==1.3.2
cycler==0.12.1
dj-database-url==2.3.0
Django==5.2
fonttools==4.57.0
gunicorn==23.0.0
joblib==1.4.2
kiwisolver==1.4.8
matplotlib==3.10.1
#numpy==2.2.5
packaging==25.0
#pandas==2.2.3
patsy==1.0.1
pillow==11.2.1
psycopg2==2.9.10
pyparsing==3.2.3
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2025.2
#scikit-learn==1.6.1
#scipy==1.15.2
#seaborn==0.13.2
six==1.17.0
sqlparse==0.5.3
#statsmodels==0.14.4
threadpoolctl==3.6.0
typing_extensions==4.13.2
tzdata==2025.2
whitenoise==6.9.0
# pip install tensorflow # needed for interactive demos
# pip install transformers # needed for sentiment analysis
# pip install torch